body
    background-color: #EFF6FF

.container
    display: flex
    width: 92%
    margin: 5% auto
    box-shadow: 15px 10px 20px rgba(0, 0, 255, .1)

.bg-img

.text-content
    width: 50%
    background-color: #fff