body
    background-color: #EFF6FF

.container
    display: flex
    width: 92%
    margin: 5% auto
    box-shadow: 15px 10px 20px rgba(0, 0, 255, .1)

.text-content
    width: 50%
    padding: 5%
    background-color: #fff

.title
